<footer id="" class="bg-gray-800 text-white p-6 mt-auto">
    <div class="container mx-auto text-center">
        <p class="mb-4">Conecta conmigo:</p>
        <div class="flex justify-center space-x-6">
            <a href="https://github.com/tonoburelo" target="_blank"
                class="hover:text-green-400 transtion-colors duration-300">
                <i class="fab fa-github fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com/in/jos%C3%A9-antonio-burelo-hern%C3%A1ndez/" target="_blank"
                class="hover:text-green-400 transtion-colors duration-300">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="mailto:tonoburelohernandez@gmail.com" target="_blank"
                class="hover:text-green-400 transtion-colors duration-300">
                <i class="fas fa-envelope fa-2x"></i>
            </a>
            <a href="https://wa.me/9141353374" target="_blank"
                class="hover:text-green-400 transtion-colors duration-300">
                <i class="fab fa-whatsapp fa-2x"></i>
            </a>
            <a href="https://medium.com/@tonoburelohernandez" target="_blank"
                class="hover:text-green-400 transtion-colors duration-300">
                <i class="fab fa-medium fa-2x"></i>
            </a>
        </div>
        <p class="mt-6 text-sm text-gray-400">&copy; 2025 José Burelo</p>
    </div>

</footer>