<!DOCTYPE html>
<html lang="es">
<%- include("partials/head") %>

    <body class="bg-gray-50 font-sans text-gray-800 flex flex-col min-h-screen">
        <%- include("partials/header") %>

            <main class="container mx-auto p-8 flex-grow">

                <section
                    class="text-center mb-12 bg-gradient-to-br from-slate-700 to-slate-900 text-white rounded-3xl p-8 md:p-14 shadow-xl">
                    <img src="img/foto-perfil.jpg" alt="foto de perfil de José"
                        class="w-32 h-32 md:w-32 md:h-40 rounded-full mx-auto mb-6 border-4 border-slate-300 shadow-xl object-cover">
                    <h1 class="text-4xl md:text-4xl font-bold text-white mb-2">José Antonio Burelo Hernández</h1>
                    <p class="text-xl text-slate-300 mb-1">💻 Data Entusiasta | AI Learner | Jr. Developer</p>
                    <p class="text-slate-400">Tabasco, México</p>
                </section>

                <section class="grid grid-cols-1 lg:grid-cols-3 gap-8 mb-12">
                    <article
                        class="lg:col-span-2 bg-white p-6 md:p-8 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                        <h2 class="text-2xl font-semibold text-gray-800 mb-4 border-b-2 border-slate-300 pb-2">ACERCA DE MÍ</h2>

                        <p class="text-gray-700 leading-relaxed text-justify">
                            Dedicado Ingeniero en Sistemas Computacionales y Técnico en Informática
                            especializado en ingeniería de software y Análisis de datos. Sólida base
                            académica y 2 años de experiencia práctica en desarrollo de proyectos de
                            software y ciencia de datos, varios mostrados en este Portafolio Web y en mi
                            GitHub. Cuento con algunas certificaciónes entre la que destaco la de Microsoft: Power BI Data
                            Analyst Associate. 
                        </p>
                        
                        <div class="mt-6">
                            <h3 class="text-xl font-semibold text-gray-800 mb-3">🎯 Objetivo profesional</h3>
                            <p class="text-gray-700 leading-relaxed text-justify">Mi objetivo profesional es llegar a <strong>vivir bien de la suma entre tecnología y filosofía (mí IKIGAI)</strong>.</p>
                            <!--
                            <blockquote>
                                <p class="blockquote">Frase: const vida = { tecnología(), filosofía(), café(), repetir() }</p>
                                <footer>
                                — <cite>José Burelo</cite>
                                </footer>
                            </blockquote>
                            -->
                        </div>

                        <div class="mt-6">
                            <h3 class="text-xl font-semibold text-gray-800 mb-3">👨🏻‍🎓 Educación</h3>
                            <div>
                                <h1 class="text-l font-bold text-gray-800">- Instituto Tecnológico Superior de Comalcalco</h1>
                                <p class="text-sm text-slate-500 italic">2018 - 2023</p>
                                <p class="text-gray-600">Ingeniería en Sistemas Computacionales - Especialidad en Ingeniería de Software</p>
                            </div>
                            <br>
                            <div>
                                <h1 class="text-l font-bold text-gray-800">Instituto De Difusión Técnica No 8</h1>
                                <p class="text-sm text-slate-500 italic">2014 - 2017</p>
                                <p class="text-gray-600">Técnico en Informática</p>
                            </div>
                        </div>

                        <div class="mt-6">
                            <h3 class="text-xl font-semibold text-gray-800 mb-3">🧗🏻‍♂️ Hobbies</h3>
                            <div class="flex flex-wrap gap-2">
                                <span class="px-3 py-1 bg-blue-100 text-blue-800 rounded-full text-sm">Aprender sobre Tecnología</span>
                                <span class="px-3 py-1 bg-green-100 text-green-800 rounded-full text-sm">Leer y escribir Filosofía</span>

                            </div>
                        </div>
                        <div class="mt-6">
                             <h3 class="text-xl font-semibold text-gray-800 mb-3">🛠️ Habilidades y Tecnologías</h3>
                             <ul class="flex flex-wrap gap-4">
                                <img src="https://img.shields.io/badge/Java-ED8B00?style=for-the-badge&logo=oracle-java&logoColor=white" alt="Java">
                                <img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54" alt="Python">
                                <img src="https://img.shields.io/badge/PHP-777BB4?style=for-the-badge&logo=php&logoColor=white" alt="PHP">
                                <img src="https://img.shields.io/badge/Laravel-FF2D20?style=for-the-badge&logo=laravel&logoColor=white" alt="Laravel">
                                <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="HTML5">
                                <img src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white" alt="CSS3">
                                <img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E" alt="JavaScript">
                                <img src="https://img.shields.io/badge/Bootstrap-7952B3?style=for-the-badge&logo=bootstrap&logoColor=white" alt="Bootstrap">
                                <img src="https://img.shields.io/badge/SQL-4479A1?style=for-the-badge&logo=postgresql&logoColor=white" alt="SQL">
                                <img src="https://img.shields.io/badge/Git-F05032?style=for-the-badge&logo=git&logoColor=white" alt="Git">
                                <img src="https://img.shields.io/badge/PowerBI-F2C811?style=for-the-badge&logo=powerbi&logoColor=white" alt="PowerBI">
                                <img src="https://img.shields.io/badge/Tableau-00A1E0?style=for-the-badge&logo=tableau&logoColor=white" alt="Tableau">
                                <img src="https://img.shields.io/badge/Snowflake-29B5E8?style=for-the-badge&logo=snowflake&logoColor=white" alt="Snowflake">
                                <img src="https://img.shields.io/badge/Excel-217346?style=for-the-badge&logo=microsoft-excel&logoColor=white" alt="Excel">
                                <img src="https://img.shields.io/badge/Scikit_learn-F7931E?style=for-the-badge&logo=scikit-learn&logoColor=white" alt="Scikit-learn">
                                <img src="https://img.shields.io/badge/PyTorch-EE4C2C?style=for-the-badge&logo=pytorch&logoColor=white" alt="PyTorch">
                                <img src="https://img.shields.io/badge/TensorFlow-FF6F00?style=for-the-badge&logo=tensorflow&logoColor=white" alt="TensorFlow">
                                <img src="https://img.shields.io/badge/Pandas-150458?style=for-the-badge&logo=pandas&logoColor=white" alt="Pandas">
                                <img src="https://img.shields.io/badge/NumPy-013243?style=for-the-badge&logo=numpy&logoColor=white" alt="NumPy">
                                <img src="https://img.shields.io/badge/Matplotlib-11557C?style=for-the-badge&logo=matplotlib&logoColor=white" alt="Matplotlib">
                                <img src="https://img.shields.io/badge/Seaborn-3E8E9E?style=for-the-badge&logo=seaborn&logoColor=white" alt="Seaborn"> 
                            </ul>
                        </div>
                    </article>
                    <!-- Columna de Experiencia y Educación -->
                    <div class="space-y-8">
                        <!-- Tarjeta de Experiencia -->
                        <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                            <h2 class="text-2xl font-semibold text-gray-800 mb-4 border-b-2 border-slate-300 pb-2">EXPERIENCIA</h2>
                            <div class="mb-4">
                                <h3 class="text-l font-bold text-gray-800">RESEARCH SPECIALIST PROSPECTOR</h3>
                                <p class="text-sm text-slate-500 italic">Invoka Clients in | Ciudad de México-Remoto | Enero 2025 - Diciembre 2025</p>
                                <p class="text-gray-600 mt-1">Implementé mejoras en la recolección y visualización de datos usando Excel, el CRM GoHighLevel y PowerBI. Recopilé, organicé y analicé datos de desempeño de campañas B2B para
                                evaluar su impacto y efectividad. Aporté a la optimización de procesos mediante el análisis de KPIs y
                                benchmarking de clientes del sector.

                                </p>

                            </div>
                            <div class="mb-4">
                                <h3 class="text-l font-bold text-gray-800">PROFESOR DE INGLÉS E INFORMÁTICA</h3>

                                <p class="text-sm text-slate-500 italic">Centro Superior de Idiomas y Tecnología | Comalcalco, Tasbasco | Abril 2024 - Julio 2024</p>
                                <p class="text-gray-600 mt-1">Impartí clases de inglés e Informática a niños y
                                adultos. Creé y adapté programas educativos que incluían temas como
                                programación, bases de datos, análisis de datos y Microsoft Office. Administré la base de datos escolar para el seguimiento del rendimiento estudiantil y la mejora de la toma de decisiones.
                                </p>
                            </div>
                            <div class="mb-4">
                                <h3 class="text-l font-bold text-gray-800">PRÁCTICA PROFESIONAL</h3>
                                <p class="text-sm text-slate-500 italic">INPI de Nacajuca | Nacajuca, Tasbasco | Julio 2022 - Diciembre 2022</p>
                                <p class="text-gray-600 mt-1">Desarrollé un sitio web para automatizar y gestionar los servicios del INPI de Nacajuca. Frontend: Implementé la interfaz de usuario con HTML, CSS y JavaScript.
                                Backend: Construí y mantuve la lógica del servidor usando PHP con Laravel. Gestión de bases de datos: Diseñé y administré bases de datos en SQL
                                </p>
                            </div>
                        </div>

                        <!-- Tarjeta de Educación 
                        <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                            <h2 class="text-2xl font-semibold text-gray-800 mb-4 border-b-2 border-slate-300 pb-2">
                                Educación</h2>
                            <div class="mb-4">
                                <h3 class="text-xl font-bold text-gray-800">Instituto Tecnológico Superior de Comalcalco
                                </h3>
                                <p class="text-sm text-slate-500 italic">2018 - 2023</p>
                                <p class="text-gray-600">Ingeniería en Sistemas Computacionales - Especialidad en Ingeniería de Software
                                </p>
                            </div>
                            <div>
                                <h3 class="text-xl font-bold text-gray-800">Instituto De Difusión Técnica No 8</h3>
                                <p class="text-sm text-slate-500 italic">2014 - 2017</p>
                                <p class="text-gray-600">Técnico en Informática</p>
                            </div>
                        </div>
                        -->
                    </div>
                </section>

                <section class="mb-12">
                    <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Cursos y Certificaciones</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                        <!-- Microsoft Power BI Data Analyst associate -->
                        <article
                            class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-all duration-300 transform hover:-translate-y-1">
                            <div class="flex items-center mb-3">
                                <!-- Icono de Microsoft -->
                                <svg width="41" height="41" viewBox="0 0 24 24" fill="#374151" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3 3h8v8H3zm10 0h8v8h-8zM3 13h8v8H3zm10 0h8v8h-8z" />
                                </svg>
                                <h3 class="text-lg font-bold text-gray-800"> Microsoft Certified: Power BI Data Analyst Associate</h3>
                            </div>
                            <p class="text-sm text-slate-500 mb-2">Microsoft | Marzo 14, 2024 - Marzo 15, 2025</p>
                            <p class="text-gray-600 text-sm">Aprendí a utilizar apropiadamente Power BI, aprendí a preparar y transformar datos (Power Query), modelar datos correctamente, usar DAX (Data Analysis Expressions) para hacer cálculos y análisis del negocio, crear visualizaciones y reportes de alto nivel y por último a publicar, administrar y asegurar reportes.</p>
                            <a href="https://learn.microsoft.com/en-us/users/josantonioburelohernndez-0691/credentials/ace989f5af8281ec"
                                class="text-blue-500 hover:text-blue-700 text-sm font-semibold mt-3 inline-block"
                                target="_blank">Ver
                                Certificado →</a>
                        </article>

                        <!--  Natural English Program -->
                        <article
                            class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-all duration-300 transform hover:-translate-y-1">
                            <div class="flex items-center mb-3">
                                <!-- Icono de Natural English -->
                                <img src="img/natural-english-logo.png" alt="Logotipo de Natural English" style="height: 32px; margin-right: 12px; width: 32px;">
                                <h3 class="text-lg font-bold text-gray-800">Natural English Program</h3>
                            </div>
                            <p class="text-sm text-slate-500 mb-2">Natural English | Junio 2019 — Agosto 2020</p>
                            <p class="text-gray-600 text-sm">Durante el año que duró el curso, aprendí firmemente las bases del inglés hasta alcanzar el nivel B1, base que me sirvió para que, después de 3 años más estudiando de manera autodidacta, consiguiera un C1 de inglés.</p>
                            <a href="https://naturalenglish.com/verificacioncertificaciones/golfo/"
                                class="text-blue-500 hover:text-blue-700 text-sm font-semibold mt-3 inline-block"
                                target="_blank">Ver
                                Certificado →</a>
                        </article>

                        <!-- machine learning -->
                        <article
                            class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-all duration-300 transform hover:-translate-y-1">
                            <div class="flex items-center mb-3">
                                <!-- icono python -->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="54" height="54">
                                <path fill="#3776AB" d="M14.25.18l.9.2.73.26.59.3.45.32.34.34.25.34.16.33.1.3.04.26.02.2-.01.13V8.5l-.05.63-.13.55-.21.46-.26.38-.3.31-.33.25-.35.19-.35.14-.33.1-.3.07-.26.04-.21.02H8.77l-.69.05-.59.14-.5.22-.41.27-.33.32-.27.35-.2.36-.15.37-.1.35-.07.32-.04.27-.02.21v3.06H3.17l-.21-.03-.28-.07-.32-.12-.35-.18-.36-.26-.36-.36-.35-.46-.32-.59-.28-.73-.21-.88-.14-1.05-.05-1.23.06-1.22.16-1.04.24-.87.32-.71.36-.57.4-.44.42-.33.42-.24.4-.16.36-.1.32-.05.24-.01h.16l.06.01h8.16v-.83H6.18l-.01-2.75-.02-.37.05-.34.11-.31.17-.28.25-.26.31-.23.38-.2.44-.18.51-.15.58-.12.64-.1.71-.06.77-.04.84-.02 1.27.05zm-6.3 1.98l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09zm13.09 3.95l.28.06.32.12.35.18.36.27.36.35.35.47.32.59.28.73.21.88.14 1.04.05 1.23-.06 1.23-.16 1.04-.24.86-.32.71-.36.57-.4.45-.42.33-.42.24-.4.16-.36.09-.32.05-.24.01-.16-.01h-8.22v.82h5.84l.01 2.76.02.36-.05.34-.11.31-.17.29-.25.25-.31.24-.38.2-.44.17-.51.15-.58.13-.64.09-.71.07-.77.03-.84.02-1.27-.04-1.07-.14-.9-.2-.73-.25-.59-.3-.45-.33-.34-.34-.25-.34-.16-.33-.1-.3-.04-.25-.02-.2.01-.13v-5.34l.05-.64.13-.54.21-.46.26-.38.3-.32.33-.24.35-.2.35-.14.33-.09.3-.07.26-.04.21-.02.13-.01h5.84l.69-.05.59-.14.5-.21.41-.28.33-.32.27-.35.2-.36.15-.36.1-.35.07-.32.04-.28.02-.21V6.07h2.09l.14.01zm-6.47 14.25l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09z"/>
                                </svg>
                                <h3 class="text-lg font-bold text-gray-800">- Machine Learning A-Z™: AI, Python & R + ChatGPT Bonus [2023]</h3>
                            </div>
                            <p class="text-sm text-slate-500 mb-2">Udemy | Agosto 2023 — Septiembre 2023</p>
                            <p class="text-gray-600 text-sm">Aprendí los fundamentos del machine learning con Python, los tipos de algoritmos matemáticos; regresión, clasificación y clustering, el data-preprocessing, la selección del modelo y boosting, la construcción del modelo y por último, también aprendí las bases de deep learning usando redes neuronales convolucionales.</p>
                            <a href="https://www.udemy.com/certificate/UC-27cd681a-47bb-4246-9dcc-3e28b64c5a3f/"
                                class="text-blue-500 hover:text-blue-700 text-sm font-semibold mt-3 inline-block"
                                target="_blank">Ver
                                Certificado →</a>
                        </article>

                        <!-- AI LLM -->
                        <article
                            class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-all duration-300 transform hover:-translate-y-1">
                            <div class="flex items-center mb-3">
                                <!-- Icono de python -->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48">
                                <path fill="#3776AB" d="M14.25.18l.9.2.73.26.59.3.45.32.34.34.25.34.16.33.1.3.04.26.02.2-.01.13V8.5l-.05.63-.13.55-.21.46-.26.38-.3.31-.33.25-.35.19-.35.14-.33.1-.3.07-.26.04-.21.02H8.77l-.69.05-.59.14-.5.22-.41.27-.33.32-.27.35-.2.36-.15.37-.1.35-.07.32-.04.27-.02.21v3.06H3.17l-.21-.03-.28-.07-.32-.12-.35-.18-.36-.26-.36-.36-.35-.46-.32-.59-.28-.73-.21-.88-.14-1.05-.05-1.23.06-1.22.16-1.04.24-.87.32-.71.36-.57.4-.44.42-.33.42-.24.4-.16.36-.1.32-.05.24-.01h.16l.06.01h8.16v-.83H6.18l-.01-2.75-.02-.37.05-.34.11-.31.17-.28.25-.26.31-.23.38-.2.44-.18.51-.15.58-.12.64-.1.71-.06.77-.04.84-.02 1.27.05zm-6.3 1.98l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09zm13.09 3.95l.28.06.32.12.35.18.36.27.36.35.35.47.32.59.28.73.21.88.14 1.04.05 1.23-.06 1.23-.16 1.04-.24.86-.32.71-.36.57-.4.45-.42.33-.42.24-.4.16-.36.09-.32.05-.24.01-.16-.01h-8.22v.82h5.84l.01 2.76.02.36-.05.34-.11.31-.17.29-.25.25-.31.24-.38.2-.44.17-.51.15-.58.13-.64.09-.71.07-.77.03-.84.02-1.27-.04-1.07-.14-.9-.2-.73-.25-.59-.3-.45-.33-.34-.34-.25-.34-.16-.33-.1-.3-.04-.25-.02-.2.01-.13v-5.34l.05-.64.13-.54.21-.46.26-.38.3-.32.33-.24.35-.2.35-.14.33-.09.3-.07.26-.04.21-.02.13-.01h5.84l.69-.05.59-.14.5-.21.41-.28.33-.32.27-.35.2-.36.15-.36.1-.35.07-.32.04-.28.02-.21V6.07h2.09l.14.01zm-6.47 14.25l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09z"/>
                                </svg>
                                <h3 class="text-lg font-bold text-gray-800"> Artificial Intelligence A-Z 2024: Build 7 AI + LLM & ChatGPT</h3>
                            </div>
                            <p class="text-sm text-slate-500 mb-2">Udemy | Diciembre 2024</p>
                            <p class="text-gray-600 text-sm">En este curso desarrollé siete modelos de IA distintos, incluyendo Q-Learning, Deep Q-Learning, A3C y PPO, integrando técnicas de refuerzo y redes neuronales. Aprendí a trabajar con LLMs (como transformers) y a afinar modelos de lenguaje con Hugging Face para construir un chatbot tipo médico. También entendí conceptos fundamentales de inteligencia artificial sin depender únicamente de matemáticas complejas</p>
                            <a href="https://www.udemy.com/certificate/UC-109f156a-993e-4ab8-a981-a8c50d7fbbcc/"
                                class="text-blue-500 hover:text-blue-700 text-sm font-semibold mt-3 inline-block"
                                target="_blank">Ver
                                Certificado →</a>
                        </article>

                        <!-- Data analysis -->
                        <article
                            class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-all duration-300 transform hover:-translate-y-1">
                            <div class="flex items-center mb-3">
                                <!-- Icono de python -->
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="31" height="31">
                                <path fill="#3776AB" d="M14.25.18l.9.2.73.26.59.3.45.32.34.34.25.34.16.33.1.3.04.26.02.2-.01.13V8.5l-.05.63-.13.55-.21.46-.26.38-.3.31-.33.25-.35.19-.35.14-.33.1-.3.07-.26.04-.21.02H8.77l-.69.05-.59.14-.5.22-.41.27-.33.32-.27.35-.2.36-.15.37-.1.35-.07.32-.04.27-.02.21v3.06H3.17l-.21-.03-.28-.07-.32-.12-.35-.18-.36-.26-.36-.36-.35-.46-.32-.59-.28-.73-.21-.88-.14-1.05-.05-1.23.06-1.22.16-1.04.24-.87.32-.71.36-.57.4-.44.42-.33.42-.24.4-.16.36-.1.32-.05.24-.01h.16l.06.01h8.16v-.83H6.18l-.01-2.75-.02-.37.05-.34.11-.31.17-.28.25-.26.31-.23.38-.2.44-.18.51-.15.58-.12.64-.1.71-.06.77-.04.84-.02 1.27.05zm-6.3 1.98l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09zm13.09 3.95l.28.06.32.12.35.18.36.27.36.35.35.47.32.59.28.73.21.88.14 1.04.05 1.23-.06 1.23-.16 1.04-.24.86-.32.71-.36.57-.4.45-.42.33-.42.24-.4.16-.36.09-.32.05-.24.01-.16-.01h-8.22v.82h5.84l.01 2.76.02.36-.05.34-.11.31-.17.29-.25.25-.31.24-.38.2-.44.17-.51.15-.58.13-.64.09-.71.07-.77.03-.84.02-1.27-.04-1.07-.14-.9-.2-.73-.25-.59-.3-.45-.33-.34-.34-.25-.34-.16-.33-.1-.3-.04-.25-.02-.2.01-.13v-5.34l.05-.64.13-.54.21-.46.26-.38.3-.32.33-.24.35-.2.35-.14.33-.09.3-.07.26-.04.21-.02.13-.01h5.84l.69-.05.59-.14.5-.21.41-.28.33-.32.27-.35.2-.36.15-.36.1-.35.07-.32.04-.28.02-.21V6.07h2.09l.14.01zm-6.47 14.25l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09z"/>
                                </svg>
                                <h3 class="text-lg font-bold text-gray-800"> Data Analysis with Pandas and Python</h3>
                            </div>
                            <p class="text-sm text-slate-500 mb-2">Udemy | Noviembre 2024</p>
                            <p class="text-gray-600 text-sm">En este curso aprendí a manipular, limpiar y transformar datasets utilizando herramientas como pandas y numpy. Desarrollé habilidades para realizar análisis exploratorio, identificar patrones y generar insights significativos a partir de datos reales. También aprendí a crear visualizaciones efectivas con matplotlib y seaborn. Este curso reforzó mi capacidad para convertir datos crudos en información útil para la toma de decisiones.</p>
                            <a href="https://www.udemy.com/certificate/UC-9233f8c8-59a4-4d37-ad4a-6a1354bbf6d7/"
                                class="text-blue-500 hover:text-blue-700 text-sm font-semibold mt-3 inline-block"
                                target="_blank">Ver
                                Certificado →</a>
                        </article>

                        <!-- Desarrollo Web 
                        <article
                            class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-all duration-300 transform hover:-translate-y-1">
                            <div class="flex items-center mb-3">
                                
                                <svg class="w-8 h-8 text-blue-600 mr-3" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9">
                                    </path>
                                </svg>
                                <h3 class="text-lg font-bold text-gray-800">Desarrollo Web (HTML, CSS, JavaScript)</h3>
                            </div>
                            <p class="text-sm text-slate-500 mb-2">Udemy | En curso</p>
                            <p class="text-gray-600 text-sm">Aprendiendo las tecnologías fundamentales del desarrollo
                                web frontend. Estudiando estructura semántica con HTML5, diseño responsivo con CSS3, y
                                programación interactiva con JavaScript moderno.</p>
                            <a href="#"
                                class="text-blue-500 hover:text-blue-700 text-sm font-semibold mt-3 inline-block">En
                                progreso →</a>
                        </article>
                        -->
                    </div>
                </section>


                <section class="mb-12">
                    <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Logros</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

                        <div
                            class="bg-gradient-to-r from-blue-50 to-indigo-100 p-6 rounded-lg border-l-4 border-blue-500">
                            <div class="flex items-center mb-2">
                                <svg class="w-6 h-6 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <h3 class="text-xl font-bold text-gray-800">ICPC Gran Premio de México</h3>
                            </div>
                            <p class="text-sm text-slate-600 italic mb-2">2021</p>
                            <p class="text-gray-700">Honorable Mención sobre concurso de programación a nivel nacional
                            </p>
                        </div>
                        
                        <!--
                        <div
                            class="bg-gradient-to-r from-blue-50 to-indigo-100 p-6 rounded-lg border-l-4 border-blue-500">
                            <div class="flex items-center mb-2">
                                <svg class="w-6 h-6 text-blue-500 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                    </path>
                                </svg>
                                <h3 class="text-xl font-bold text-gray-800">ICPC Gran Premio de México</h3>
                            </div>
                            <p class="text-sm text-slate-600 italic mb-2">2019</p>
                            <p class="text-gray-700">Honorable Mencion sobre concurso de programacion a nivel nacional
                            </p>
                        </div>
                        -->
                    </div>
                </section>
            </main>
            <%- include("partials/footer") %>
    </body>

</html>
