<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") %>


    <body class="bg-gray-100 font-sans text-gray-800 flex flex-col min-h-screen">
        <%- include("partials/header") %>

            <main class="container mx-auto p-8 flex-grow grid grid-cols-1 md:grid-cols-2 gap-12 items-start">

                <section class="bg-white p-8 rounded-lg shadow-lg">
                    <div class="mb-6">
                        <h1 class="text-3xl font-bold text-gray-900 mb-2">📫 Contactame</h1>
                        <p class="text-gray-600">Estoy siempre abierto a conectar, colaborar o simplemente charlar. ¡No dudes en contactarme!
                        </p>
                    </div>
                    <form id="contact-form" action="https://formspree.io/f/xrbwjvle" method="POST" class="space-y-4">
                        <div>
                            <input required type="text" name="nombre" placeholder="Tú Nombre"
                                class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                        </div>
                        <div>
                            <input required type="email" name="email" placeholder="Correo Electrónico @"
                                class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                        </div>
                        <div>
                            <input required="text" name="asunto" placeholder="Asunto"
                                class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                        </div>
                        <div>
                            <textarea required name="mensaje" id="mensaje" placeholder="Mensaje aquí..." rows="5"
                                class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none"></textarea>
                        </div>

                        <button type="submit"
                            class="w-full p-3 bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg transition-colors duration-300 shadow-md">Enviar</button>
                    </form>
                </section>

                <section class="space-y-8">
                    <div>
                        <h2 class="text-2xl font-bold text-gray-800 mb-4">Conecta conmigo</h2>
                        <div class="flex flex-wrap gap-4">
                            <a href="https://github.com/tonoburelo" target="_blank"
                                class="bg-gray-200 text-gray-700 hover:bg-gray-900 hover:text-white p-3 rounded-lg shadow transition-all duration-300">
                                <i class="fab fa-github fa-xl"></i></a>

                            <a href="https://www.linkedin.com/in/jos%C3%A9-antonio-burelo-hern%C3%A1ndez/" target="_blank"
                                class="bg-gray-200 text-gray-700 hover:bg-gray-900 hover:text-white p-3 rounded-lg shadow transition-all duration-300">
                                <i class="fab fa-linkedin fa-xl"></i></a>

                            <a href="https://medium.com/@tonoburelohernandez" target="_blank"
                                class="bg-gray-200 text-gray-700 hover:bg-gray-900 hover:text-white p-3 rounded-lg shadow transition-all duration-300">
                                <i class="fab fa-medium fa-xl"></i></a>
                        </div>
                    </div>

                    <div class="bg-white p-6 rounded-lg shadow-md">

                        <h2 class="text-2xl font-bold text-gray-800 mb-4 border-b-2 border-blue-500 pb-2"> O encuentrame
                            por estos medios</h2>
                        <div class="space-y-3">
                            <p class="flex items-center text-gray-600">
                                <i class="fas fa-envelope mr-3 text-blue-500"></i>
                                <a href="mailto:tonoburelohernandez@gmail.com"
                                    class="hover:text-blue-500 transition-colors">tonoburelohernandez@gmail.com</a>
                            </p>
                            <p class="flex items-center text-gray-600">
                                <i class="fas fa-phone mr-3 text-blue-500"></i>
                                <a href="tel:+529332084714" class="hover:text-blue-500 transition-colors">+52
                                    914-135-33-74</a>
                            </p>
                        </div>
                    </div>
                </section>
            </main>

            <%- include("partials/footer") %>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script src="/js/formulario.js"></script>
    </body>

</html>