<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ("partials/head") %>
</head>

<body class="bg-gray-100 font-sans text-gray-800 flex flex-col min-h-screen">
    <%- include("partials/header") %>

        <main class="container mx-auto p-8 flex-grow">
            <section class="text-center mb-12">
                <h1 class="text-4xl font-bold text-gray-900 mb-4">Proyectos Desarrollados</h1>
                <p class="text-lg text-gray-600 max-w-3xl mx-auto">Seleccione ver mas para tener mas informacion de cada
                    uno, conocer herramientas utilizada, base de datos y el flujo del sistema</p>

            </section>

            <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <article
                    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition-all duration-300">
                    <img src="/img/taller/principal-logeado.png" alt="Gestion Taller"
                        class="w-full h-72 object-cover  border-2 border-gray-400">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Gestion de taller de motos</h2>
                        <p class="text-gray-600 mb-4">Controla el flujo de entrada y salida de materiales, asi como
                            costos y reportes</p>
                        <a href="/projects/projects-taller"
                            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300">Ver
                            mas</a>
                    </div>

                </article>


                <article
                    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition-all duration-300">
                    <img src="/img/sensai/pagina-principal.png" alt="Gestion Taller"
                        class="w-full h-72 object-cover  border-2 border-gray-400">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Coach de Carrera con IA para el Exito
                            Profesiona</h2>
                        <p class="text-gray-600 mb-4">Sitio web con integracion de IA para una preparacion profesional
                        </p>
                        <a href="/projects/projects-sensai"
                            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300">Ver
                            mas</a>
                    </div>

                </article>

                <article
                    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition-all duration-300">
                    <img src="/img/inpi/pagina-principal.png" alt="INPI"
                        class="w-full h-72 object-cover border-2 border-gray-400 ">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Divulgacion de Informacion - INPI</h2>
                        <p class="text-gray-600 mb-4">Gestiona entrada y salida de datos a usuarios sobre
                            informacion
                            acerca de INPI</p>
                        <a href="/projects/projects-inpi"
                            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300">Ver
                            mas</a>
                    </div>
                </article>

                <article
                    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition-all duration-300">
                    <img src="/img/portafolio.png" alt="Portafolio"
                        class="w-full h-72 object-cover border-2 border-gray-400">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Portafolio web</h2>
                        <p class="text-gray-600 mb-4">Portafolio personal acerca de Ramon Gallegos, de hecho usted
                            esta
                            navegando sobre este proyecto
                        </p>
                        <a href="/projects/projects-portafolio"
                            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded- hover:bg-blue-600 transition-colors duration-300">Ver
                            mas</a>
                    </div>
                </article>
            </section>
        </main>

        <%- include("partials/footer") %>
</body>

</html>