<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ("partials/head") %>
</head>

<body class="bg-gray-100 font-sans text-gray-800 flex flex-col min-h-screen">
    <%- include("partials/header") %>

        <main class="container mx-auto p-8 flex-grow">
            <section class="text-center mb-12">
                <h1 class="text-4xl font-bold text-gray-900 mb-4">Proyectos Destacados</h1>
                <p class="text-lg text-gray-600 max-w-3xl mx-auto">Estos son algunos de los proyectos de los que estoy más orgulloso.</p>

            </section>

            <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <article
                    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition-all duration-300">
                    <img src="/img/inpi/Imágen INPI mujeres indigenas y afromexicanas - copia.png" alt="Gestion Taller"
                        class="w-full h-72  border-2 border-gray-400">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Sitio Web del INPI de Nacajuca</h2>
                        <p class="text-gray-600 mb-4">Proyecto para la gestión y automatización de los servicios del instituto.</p>
                        <a href="/projects/projects-inpi"
                            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300">Ver más</a>
                    </div>

                </article>


                <article
                    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition-all duration-300">
                    <img src="/img/typingapp/TypingApp imágen.png" alt="Gestion Taller"
                        class="w-full h-72  border-2 border-gray-400">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Aplicación TypingApp</h2>
                        <p class="text-gray-600 mb-4">Programa en Java para aprender mecanografía.</p>
                        <a href="/projects/projects-typingapp"
                            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300">Ver más</a>
                    </div>

                </article>

                <article
                    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition-all duration-300">
                    <img src="/img/comportamiento de clientes/Imágen Gráfica 3D de Clusters.png" alt="comportamiento clientes"
                        class="w-full h-72 object-contain border-2 border-gray-400 ">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Entender comportamiento de clientes con Machine Learning</h2>
                        <p class="text-gray-600 mb-4">Algoritmo de aprendizaje KMeans Clustering para analizar las ventas de un ecommerce.</p>
                        <a href="/projects/projects-comportamiento_clientes"
                            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300">Ver más</a>
                    </div>
                </article>

                <article
                    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition-all duration-300">
                    <img src="/img/Proyecto-salarios-en-ciencias-de-datos/dashboard.png" alt="Portafolio"
                        class="w-full h-72 border-2 border-gray-400">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Salarios en ciencia de datos</h2>
                        <p class="text-gray-600 mb-4">Dashboard interactivo en Tableau mostrando el estado de los salarios en ciencias de datos (2020-2022)</p>
                        <a href="/projects/projects-salario_ciencia_datos"
                            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded- hover:bg-blue-600 transition-colors duration-300">Ver más</a>
                    </div>
                </article>

                  <article
                    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition-all duration-300">
                    <img src="/img/Proyecto predecir costo de seguro/imágen1.png" alt="Portafolio"
                        class="w-full h-72 border-2 border-gray-400">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Predecir costo de seguro médico con Machine Learning</h2>
                        <p class="text-gray-600 mb-4">Usar regresión lineal en Python para predecir los costos de seguros médicos.</p>
                        <a href="/projects/projects-predecir_seguros"
                            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded- hover:bg-blue-600 transition-colors duration-300">Ver más</a>
                    </div>
                </article>

                <article
                    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition-all duration-300">
                    <img src="/img/proyecto-friends/friends.png" alt="Portafolio"
                        class="w-full h-72 border-2 border-gray-400">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Friends</h2>
                        <p class="text-gray-600 mb-4">Dashboard interactivo en Tableau de stats sobre una de mis seríes favoritas Friends.</p>
                        <a href="/projects/projects-friends"
                            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded- hover:bg-blue-600 transition-colors duration-300">Ver más</a>
                    </div>
                </article>

                <article
                    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition-all duration-300">
                    <img src="/img/Proyecto Data Analysis Pizzería/Imágen dashboard principal.png" alt="Portafolio"
                        class="w-full h-72 border-2 border-gray-400">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Insights sobre el negocio de las pizzerías</h2>
                        <p class="text-gray-600 mb-4">Múltiples dashboards interactivos de las estadísticas de ventas de una cadena de pizzerías.</p>
                        <a href="/projects/projects-pizzeria"
                            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded- hover:bg-blue-600 transition-colors duration-300">Ver más</a>
                    </div>
                </article>

                <article
                    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 hover:shadow-xl transition-all duration-300">
                    <img src="/img/Proyecto libros en Amazon/amazon-1.png" alt="Portafolio"
                        class="w-full h-72 border-2 border-gray-400">
                    <div class="p-6">
                        <h2 class="text-xl font-bold text-gray-800 mb-2">Review sobre los libros en Amazon</h2>
                        <p class="text-gray-600 mb-4">Dashboards interactivos sobre los libros en Amazon.</p>
                        <a href="/projects/projects-libros"
                            class="inline-block bg-blue-500 text-white font-semibold py-2 px-4 rounded- hover:bg-blue-600 transition-colors duration-300">Ver más</a>
                    </div>
                </article>
            </section>
        </main>

        <%- include("partials/footer") %>
</body>

</html>