<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head") %>

    <body class="bg-gray-100  font-sans text-gray-800 flex flex-col min-h-screen">
        <%- include("../partials/header") %>
            <main class="container mx-auto p-8 flex-grow">

                <section class="text-center mb-12">
                    <h1 class="text-4xl md:text-5xl font-bold text-gray-900 mb-4">Sitio Web del INPI de Nacajuca</h1>
                    <p class="text-lg text-gray-600 max-w-3xl mx-auto mb-8">Plataforma para la divulgación cultural y la gestión de los servicios del INPI de Nacajuca, conectando a la comunidad chontal con información vital y servicios clave para preservar su identidad.</p>
                    <div class="relative w-full max-w-4xl mx-auto">
                        <div class="relative h-64 md:h-96 overflow-hidden rounded-lg shadow-lg">
                            <div id="image-slider" class="flex transition-transform duration-500 ease-in-out h-full">
                                <!-- Poner algunas imagenes de referencia -->
                                <img src="/img/inpi/Imágen INPI mujeres indigenas y afromexicanas - copia.png" alt="Pagina principa del portal INPI"
                                    class="w-full h-full flex-shrink-0">
                                <img src="/img/inpi/Imágen INPI Home - copia.png" alt="servicios"
                                    class="w-full h-full flex-shrink-0">
                                <img src="/img/inpi/view-slider.png" alt="Pagina principa del portal INPI"
                                    class="w-full h-full flex-shrink-0">
                                <img src="/img/inpi/radio-difusora.png" alt="Radio"
                                    class="w-full h-full flex-shrink-0">
                                <img src="/img/inpi/Imágen vista de información de perfil.png" alt="Info perfil"
                                    class="w-full h-full flex-shrink-0">
                                <img src="/img/inpi/Imágen Chatbot.png" alt="Chatbot"
                                    class="w-full h-full flex-shrink-0">
                                <img src="/img/inpi/Imágen administración de usuarios.png" alt="Administración de usuarios"
                                    class="w-full h-full flex-shrink-0">
                                <img src="/img/inpi/Imágen tus citas.png" alt="Citas del usuario"
                                    class="w-full h-full flex-shrink-0">
                                <img src="/img/inpi/Imágen Chat de citas.png" alt="Chat para citas virtuales"
                                    class="w-full h-full flex-shrink-0">
                                <img src="/img/inpi/Imágen dashboard de citas admins.png" alt="gestión de citas"
                                    class="w-full h-full flex-shrink-0">
                                <img src="/img/inpi/div-info.png" alt="crear una publicación"
                                    class="w-full h-full flex-shrink-0">
                                <img src="/img/inpi/view-publi.png" alt="vista de una noticia publicada"
                                    class="w-full h-full flex-shrink-0">
                                <img src="/img/inpi/contacto.png" alt="vista de una noticia publicada"
                                    class="w-full h-full flex-shrink-0">
                            </div>
                        </div>

                        <!-- navegacion js -->
                        <div id="carousel-dots" class="flex justify-center mt-4 space-x-2">
                            <!-- js -->
                        </div>
                    </div>

                </section>


                <!-- NUEVA SECCIÓN BONUS: Flujo del Sistema -->
                <section class="mb-12">
                    <h2 class="text-3xl font-bold text-center text-gray-900 mb-8">Flujo del Sistema</h2>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <div class="bg-white p-4 rounded-lg shadow-md text-center">
                            <img src="/img/inpi/Imágen administración de usuarios.png" alt="Panel de administrador"
                                class="w-full h-40 rounded-t-lg mb-4">
                            <h3 class="font-semibold text-lg">1. Administrador</h3>
                            <p class="text-gray-600 text-sm">Gestiona usuarios y controla todo el sistema.</p>
                        </div>
                        <div class="bg-white p-4 rounded-lg shadow-md text-center">
                            <img src="/img/inpi/div-info.png" alt="Creando una publicación"
                                class="w-full h-40 rounded-t-lg mb-4">
                            <h3 class="font-semibold text-lg">2. Promotor</h3>
                            <p class="text-gray-600 text-sm">Crea y publica contenido dinámicamente de su área, además de la gestión de citas y seguimientos.</p>
                        </div>
                        <div class="bg-white p-4 rounded-lg shadow-md text-center">
                            <img src="/img/inpi/Imágen INPI Home - copia.png" alt="Contenido publicado"
                                class="w-full h-40 rounded-t-lg mb-4">
                            <h3 class="font-semibold text-lg">3. Usuario Final</h3>
                            <p class="text-gray-600 text-sm">La comunidad accede a la información del instituto y puede gestionar sus citas con los diferentes servicios.</p>
                        </div>
                    </div>
                </section>
                <section class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                    <div class="space-y-6">
                        <div class="bg-white p-6 rounded-lg shadow-md">
                            <h2 class="text-2xl font-semibold text-gray-800 mb-4 border-b-2 border-blue-500 pb-2">
                                Descripción del Proyecto</h2>
                            <p class="text-gray-700 leading-relaxed mb-4">Ante la necesidad de dar a conocer el trabajo que se realiza en el INPI de Nacajuca, se desarrolló este portal. Su objetivo es ser un canal oficial y dinámico para que el instituto pueda aumentar su tasa de asistencia y, por lo tanto, beneficiar lo mayor posible a los pueblos chontales y al público en general a través de los servicios gratuitos que ofrecen.</p>
                            <p class="text-gray-700 leading-relaxed">
                                El sistema no solo centraliza la información, sino que también empodera a los promotores de cada área, permitiéndoles gestionar y actualizar el contenido de forma autónoma y segura.
                            </p>
                        </div>
                        <div class="bg-white p-6 rounded-lg shadow-md">
                            <h2 class="text-2xl font-semibold text-gray-800 mb-4 border-b-2 border-blue-500 pb-2">
                                Características Principales
                            </h2>
                            <ul class="list-disc list-inside text-gray-700 space-y-2">
                                <li>Permite a los promotores divulgar información del Instituto a través de sliders, artículos o publicaciones.</li>
                                <li>Gestión completa y segura de roles y permisos de usuarios.</li>
                                <li>Dashboard administrativo solo para promotores y admins.</li>
                                <li>Seguimiento de casos o expedientes abiertos de cada área.</li>
                                <li>Generacion de citas.</li>
                                <li>Chat para los usuarios que quieren hacer las citas virtuales.</li>
                                <li>Gestión de citas pendientes tipo google calendar para el promotor.</li>
                                <li>Chatbot para mejor navegación a través del sitio web.</li>

                            </ul>
                        </div>
                    </div>

                    <div class="space-y-6">
                        <div class="bg-white p-6 rounded-lg shadow-md">
                            <h2 class="text-2xl font-semibold text-gray-800 mb-4 border-b-2 border-blue-500 pb-2">
                                Habilidades Aplicadas
                            </h2>
                            <ul class="flex flex-wrap gap-2">
                                <li class="bg-blue-100 text-blue-800 py-1 px-3 rounded-full text-sm">Desarrollo Web
                                </li>
                                <li class="bg-blue-100 text-blue-800 py-1 px-3 rounded-full text-sm">Front-End
                                </li>
                                <li class="bg-blue-100 text-blue-800 py-1 px-3 rounded-full text-sm">Back-End
                                </li>
                                <li class="bg-blue-100 text-blue-800 py-1 px-3 rounded-full text-sm">Diseño de BD
                                </li>
                                <li class="bg-blue-100 text-blue-800 py-1 px-3 rounded-full text-sm">Analisis de
                                    requerimientos
                                </li>
                                <li class="bg-blue-100 text-blue-800 py-1 px-3 rounded-full text-sm">Comunicación asertiva
                                </li>
                                <li class="bg-blue-100 text-blue-800 py-1 px-3 rounded-full text-sm">Adaptación al cambio
                                </li>
                                <li class="bg-blue-100 text-blue-800 py-1 px-3 rounded-full text-sm">Resolucion de
                                    Problemas
                                </li>
                                
                            </ul>
                        </div>

                        <div class="bg-white p-6 rounded-lg shadow-md">
                            <h2 class="text-2xl font-semibold text-gray-800 mb-4 border-b-2 border-blue-500 pb-2">
                                🛠️ Habilidades y Tecnologías</h2>
                            <ul class="flex flex-wrap gap-2">      
                                <img src="https://img.shields.io/badge/PHP-777BB4?style=for-the-badge&logo=php&logoColor=white" alt="PHP">
                                <img src="https://img.shields.io/badge/Laravel-FF2D20?style=for-the-badge&logo=laravel&logoColor=white" alt="Laravel">
                                <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="HTML5">
                                <img src="https://img.shields.io/badge/css3-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white" alt="CSS3">
                                <img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E" alt="JavaScript">
                                <img src="https://img.shields.io/badge/Bootstrap-7952B3?style=for-the-badge&logo=bootstrap&logoColor=white" alt="Bootstrap">
                                <img src="https://img.shields.io/badge/SQL-4479A1?style=for-the-badge&logo=postgresql&logoColor=white" alt="SQL">
                                <img src="https://img.shields.io/badge/Git-F05032?style=for-the-badge&logo=git&logoColor=white" alt="Git">
                            </ul>
                        </div>
                        <div class="bg-white p-6 rounded-lg shadow-md">
                            <h2 class="text-2xl font-semibold text-gray-800 mb-4 border-b-2 border-blue-500 pb-2">
                                Enlaces del proyecto</h2>
                            <div class="flex flex-col sm:flex-row gap-4">
                                <a target="_blank" href="https://github.com/tonoburelo/Sitio-Web-INPI-de-Nacajuca"
                                    class="flex-1 text-center bg-gray-900 hover:bg-gray-800 text-white font-bold py-3 px-6 rounded-lg transition-colors duration-300 shadow-md">
                                    <i class="fab fa-github mr-2"></i>Ver en GitHub</a>
                                <a target="_blank"
                                    href="https://drive.google.com/file/d/1p1u2v2P9JJbJPx_vaoqvoEp8EdhedQvg/view?usp=sharing"
                                    class="flex-1 text-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg transition-colors duration-300 shadow-md">
                                    <i class="fas fa-external-link-alt mr-2"></i> Ver Documentación</a>
                            </div>

                        </div>
                    </div>
                </section>

            </main>

            <%- include("../partials/footer") %>

                <script src="/js/carrusel.js"></script>
    </body>

</html>